@model DoAnNhom1.Models.AdminUser

@{
    ViewBag.Title = "login";
    //Layout = "~/Views/Shared/index.cshtml";
    Layout = null;
}

<link href="~/Content/assets/Login.css" rel="stylesheet" />
<body>
    <div class="login-page" style="height:100vh">
        @using (Html.BeginForm("Login", "Login"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form">
            <h2>Login</h2>
            <p style="color:red">@ViewBag.ErrorInfo</p>
            <form class="login-form">
                <div>
                    @Html.TextBox("NameUser", null, new { @class = "form-control input_user", placeholder = "username" })
                </div>
                <div>
                    @Html.ValidationMessageFor(model => model.NameUser)
                </div>
                <div>
                    @Html.Password("PasswordUser", null, new { @class = "form-control input_pass", placeholder = "password" })
                </div>
                <div>
                    @Html.ValidationMessageFor(model => model.PasswordUser)
                </div>
                <button type="submit" class="btn login_btn">Đăng nhập</button>
                <p class="message">Not registered? <a href="#">Create an account</a></p>
                <p><a style="text-decoration:none;" href="~/Login/Admin">Đăng Nhập Với Tài Khoản Quản Trị Viên</a></p>
            </form>
        </div>
        }
    </div>
    <script>
        $('.message a').click(function () {
            $('form').animate({ height: "toggle", opacity: "toggle" }, "slow");
        });
    </script>
    
</body>

