@model DoAnNhom1.Models.Tree

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}

<h2 class="text-center">Tạo cây mới</h2>


@using (Html.BeginForm("Create", "Trees", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label class="control-label col-md-2">Khu vực trồng cây</label>
        <div class="col-md-10">
            @{Html.RenderAction("SelectArea", "Trees");}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Tên cây</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.NameTree, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NameTree, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Thông tin cây</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.DescriptionTree, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DescriptionTree, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Giá trồng cây</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Hình ảnh cây</label>
        <div class="col-md-10">
            <div class="input-group">
                <img src="@Url.Content(Model.ImageTree)" class="img-fluid" id="previewImg" width="200" height="150" />
                <input type="file" name="UploadImage" class="form-control-file" onchange="ChangeImage(this, document.getElementById('previewImg'))" />
                @Html.ValidationMessageFor(model => model.UploadImage, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-success">Tạo mới</button>
        </div>
    </div>
}

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Quay về danh sách", "Index", null, new { @class = "btn btn-secondary" })
    </div>
</div>

<script src="~/Scripts/script.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
